# Compile source #
*.aux
*metafiles

# logs and database  #
*.log
*.blg
*.lof
*.lot
*.bbl
*.*.gz
*.toc
*.glo
*.glg
*.gls
*.idx
*.ind
*.out
*.xdy
*.ilg
Tesis.loa
Tesis.tdo

# pdf file #

*.pdf
.DS_Store
